In [1]:
import numpy as np
import pandas as pd

In [7]:
df_train = pd.read_csv("pendigits.tra", header = None)
df_test = pd.read_csv("pendigits.tes", header = None)

In [20]:
df_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,47,100,27,81,57,37,26,0,0,23,56,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7489,0,82,9,59,56,34,41,0,10,30,3,67,42,96,100,100,5
7490,49,100,0,70,24,56,100,65,86,85,44,77,21,38,6,0,4
7491,100,98,60,100,24,87,3,58,35,51,58,26,36,0,0,5,5
7492,59,65,91,100,84,96,72,50,51,8,0,0,45,1,100,0,1
7493,0,78,29,100,94,86,70,48,42,11,32,0,25,36,100,40,7

In [21]:
x_train = df_train[:16]
y_train = df_train[16]
x_test = df_test[:16]
y_test = df_test[16]

In [22]:
print(f"Shape of x_train: {x_train.shape} and shape of y_train: {y_train.shape}")
print(f"Shape of x_test: {x_test.shape} and shape of y_test: {y_test.shape}")

Shape of x_train: (16, 17) and shape of y_train: (7494,)
Shape of x_test: (16, 17) and shape of y_test: (3498,)